.kbitesLayout {
  padding: 80px 0;
  background-color: var(--color-white);
  background-image: url("/images/kbiteBackgroundGraphicMobile.webp");
  background-position: center;
  background-repeat: repeat;
  background-size: 80%;
  background-blend-mode: hard-light;
}

.kbitesContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.kbitesHeader {
  margin-bottom: 48px;
}

.kbitesHeader>h1 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: hsla(240, 45%, 98%, 1);
  border: 1px solid hsla(240, 51%, 18%, 0.16);
  border-radius: 32px;
  justify-content: space-between;
  padding-left: min(5%, 24px);
  max-width: 510px;
  margin: 0 auto;
}

.searchContainer>input {
  border: none;
  outline: none;
  width: 70%;
  padding-left: 8px;
  background-color: transparent;
}

.searchContainer>input::placeholder {
  color: hsla(240, 51%, 18%, 0.48);
  font-size: .9rem;
}

.searchContainer>input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

.searchContainer>svg {
  color: hsla(240, 51%, 18%, 0.48);
  transform: translateY(1px);
}

.searchContainer>button {
  padding: 16px 0;
  width: 35%;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 32px;
}

.searchContainer>button:hover,
.searchContainer>button:focus {
  transform: scale(.99);
}

.generalLayout {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 48px 0;
  background-color: var(--color-white);
  border: 1px solid hsla(240, 51%, 18%, 0.1);
  border-radius: 16px;
  box-shadow: 0px 4px 200px hsla(0, 0%, 0%, 0.1);
}

.executiveLayout,
.membersLayout {
  width: 90%;
  margin: 0 auto;
}

.executiveLayout>h2,
.membersLayout>h2 {
  margin-bottom: 24px;
}

.executiveContainer {
  display: grid;
  align-items: flex-start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 50%), 1fr));
  grid-gap: 2rem 1rem;
}

.executiveCard {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.executiveCardImage {
  width: min(100%, 240px);
  height: 240px;
  margin-bottom: 16px;
}

.executiveCardImage>img {
  border-radius: 4px;
  object-position: top center;
}

.executiveCard>p:first-of-type {
  font-size: 1.2rem;
  font-weight: 500;
}

.executiveCard>p:last-of-type {
  font-size: 1.1rem;
  font-weight: 300;
}

.membersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 70%), 1fr));
  grid-gap: .5rem;
  width: 85%;
  margin: 0 auto;
  padding: 16px 24px;
  background-color: hsla(240, 50%, 98%, 1);
  border-radius: 4px;
}

.membersContainer>p {
  font-size: 1.1rem;
}

.searchedMembers {
  margin-bottom: 2em;
}

@media (min-width: 900px) {
  .kbitesLayout {
    background-image: url("/images/kbiteBackgroundGraphicLarge.webp");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
  }
  .kbitesContainer {
    max-width: 1200px;
  }
  .kbitesHeader {
    margin-bottom: 80px;
  }
  .kbitesHeader>h1 {
    font-size: 4rem;
    max-width: 700px;
    margin: 0 auto 32px;
  }
  .searchContainer {
    font-size: 1.1rem;
  }
  .searchContainer>input::placeholder {
    font-size: 1.1rem;
  }
  .searchedMembers {
    margin-top: -40px;
  }
  .generalLayout {
    padding: 80px 0;
    border-radius: 32px;
    box-shadow: 0 4px 80px 0 hsla(0, 0%, 0%, 0.1);
  }
  .executiveLayout {
    max-width: 850px;
  }
  .executiveLayout>h2,
  .membersLayout>h2
  {
    font-size: 2.5rem;
    margin-bottom: 48px;
  }

  .membersContainer {
    padding: 32px 48px;
    max-width: 850px;
    border-radius: 16px;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 70%), 1fr));
    gap: 2rem 1rem;
  }
  .membersContainer>p {
    font-size: 1.2rem;
  }
}