.armLayout {
  padding: 80px 0 64px;
  background-color: var(--color-white);
  background-image: url("../assets/images/armsBackgroundGraphicMobile.webp");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

.armContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.7;
}

.armContainer > h1 {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 1.7rem;
}

.armDetails {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.armDetails > div:last-of-type > ul{
  margin-bottom: 1.5rem;
}

@media (min-width: 900px) {
  .armLayout {
    padding: 130px 0;
  }
  .armContainer {
    max-width: 1200px;
  }
  .armContainer>h1 {
    font-size: 4rem;
    margin: 0 auto 32px;
    max-width: 930px;
    text-align: center;
  }
  .armContainer>p {
    font-size: 1.1rem;
    margin-bottom: 24px;
  }
  .armDetails {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .armDetails>div {
    width: 47%;
    font-size: 1.1rem;
  }
}