.headerLayout {
  background-color: var(--color-secondary-background);
  background-image: url("../assets/images/eventsHeaderBackgroundImage.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.headerContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  padding: 110px 0;
  text-align: center;
  color: var(--color-white);
  line-height: 1.2;
}
.headerContainer > h1 {
  font-size: 2.5rem;
  margin-bottom: .1em;
}
.headerContainer > p {
  margin-bottom: 1.5rem;
}

.headerBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  background-color: hsla(240, 51%, 98%, 1);
  border: 2px solid hsla(240, 51%, 18%, 0.16);
  border-radius: 32px;
}

.headerBtnContainer button {
  width: 50%;
  padding: 16px 0;
  border: none;
  background-color: transparent;
  color: hsla(240, 51%, 18%, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}
.headerBtnContainer > button.active {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.eventsLayout {
  background-color: var(--color-white);
}

.eventsContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  background-color: hsla(240, 60%, 99%, 1);
  box-shadow: 0 4px 40px hsla(0, 0%, 0%, 0.1);
  border-radius: 24px;
  padding: 32px 24px;
  transform: translateY(max(-25%, -55px));
}
.eventsContainerHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.eventsContainerTitle {
  text-transform: capitalize;
}
.eventsFilterBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  background-color: transparent;
  width: 70%;
  max-width: max-content;
  padding: 8px 16px;
  border: 2px solid hsla(240, 51%, 18%, 0.16);
  color: hsla(240, 51%, 18%, 0.48);
  border-radius: 32px;
  font-size: .8rem;
}
.eventsFilterBtn > p {
  font-weight: 600;
}
.filterContainer {
  position: absolute;
  top: 150%;
  right: 0;
  background-color: hsla(240, 45%, 98%, 1);
  border: 2px solid hsla(240, 51%, 18%, 0.16);
  border-radius: 8px;
  padding: 32px 0;
  width: 200%;
  max-width: 230px;
}
.filterContainer > ul {
  padding: 0;
  list-style: none;
  width: 90%;
  max-width: 220px;
  margin: 0 auto;
}
.filterOption {
  margin-bottom: 16px;
  color: hsla(240, 51%, 18%, 0.48);
}
.filterOption:last-of-type {
  margin-bottom: 0;
}
.filterOption > button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: hsla(240, 51%, 18%, 0.48);
  font-weight: 400;
  font-size: .8rem;
}

.noEventTag {
  padding: 24px 0 64px;
  color: hsla(0, 0%, 48%, 1);
  text-align: center;
}


.eventCard {
  background-color: var(--color-white);
  color: var(--color-text-primary);
  padding: 32px 0;
  margin-bottom: 16px;
  box-shadow: 0px 4px 48px hsla(0, 0%, 0%, 0.1);
  border: 1px solid hsla(0, 0%, 92%, 1);
  border-radius: 8px;
}
.eventCard:last-of-type {
  margin-bottom: 0;
}
.eventCardContainer {
  width: 90%;
  margin: 0 auto;
}
.eventCardImage {
  width: 100%;
  height: 280px;
  margin-bottom: 12px;
}
.eventCardImage img {
  border-radius: 4px;
}

.eventCardDetails {
  line-height: 1.4;
}
.eventCardDetails > h3 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 1rem;
}
.eventCardDetails > p {
  font-size: .9rem;
  margin-bottom: 12px;
}

.eventCardBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eventCardBtnContainer > a {
  text-decoration: none;
  padding: 12px 0;
  border: 1px solid var(--color-secondary);
  width: 50%;
  max-width: 150px;
  background-color: transparent;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  font-size: .9rem;
}
.eventCardBtnContainer > a:hover, .eventCardBtnContainer > a:focus {
  text-decoration: underline;
}
.eventCardBtnContainer > a svg {
  transform: translateY(1px);
}