/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Variables */

:root {
  --color-primary: hsla(58, 100%, 64%, 1);
  --color-secondary: hsla(240, 51%, 18%, 1);
  --color-text-primary: hsla(0, 0%, 16%, 1);
  --color-link-primary: hsla(58, 98%, 49%, 1);
  --color-white: hsla(0, 0%, 100%, 1);
  --color-background-grey: hsla(0, 0%, 8%, 1);
}
button {
  cursor: pointer;
}
a {
  color: inherit;
}
h1, h2 {
  font-weight: 400;
}