.headerLayout {
  background-color: hsla(0, 0%, 0%, 0.4);
  background-image: url("/images/homeHeaderPictureMobile.webp");
  background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 100%), url("/images/homeHeaderPictureMobile.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.headerContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  padding: 110px 0;
  text-align: center;
  color: var(--color-white);
  line-height: 1.2;
}

.headerContainer>h1 {
  color: var(--color-primary);
  margin-bottom: .25em;
}

.headerContainer>p {
  margin-bottom: 1rem;
}

.headerBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.headerBtnContainer>a {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  text-decoration: none;
  background-color: var(--color-white);
  color: var(--color-secondary);
  padding: 16px 0;
  font-weight: 500;
}

.headerBtnContainer>a:last-of-type {
  width: 42%;
  background-color: var(--color-primary);
}

.headerBtnContainer>a svg {
  transform: translateY(1px);
}

.headerBtnContainer>a:hover,
.headerBtnContainer>a:focus {
  transform: scale(.98);
}

.eventsLayout {
  background-color: hsla(0, 0%, 98%, 1);
  padding: 48px 0;
}

.eventsContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

.eventsContainerHeader {
  margin-bottom: 1.5rem;
}

.eventCard {
  background-color: var(--color-white);
  color: var(--color-text-primary);
  padding: 24px 0;
  margin-bottom: 24px;
  box-shadow: 4px 4px 48px hsla(0, 0%, 0%, 0.1);
}

.eventCardContainer {
  width: 90%;
  margin: 0 auto;
}

.eventCardImage {
  width: 100%;
  height: 280px;
  margin-bottom: 12px;
}

.eventCardImage img {
  border-radius: 8px;
}

.eventCardDetails {
  line-height: 1.4;
}

.eventCardDetails>h3 {
  font-weight: 700;
  margin-bottom: 2px;
}

.eventCardDetails>p {
  font-size: .9rem;
  margin-bottom: 12px;
}

.eventCardBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventCardBtnContainer>a {
  text-decoration: none;
  padding: 12px 0;
  border: 1px solid var(--color-secondary);
  width: 38%;
  background-color: transparent;
  color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  font-size: .9rem;
}

.eventCardBtnContainer>a:last-of-type {
  width: 59%;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.eventCardBtnContainer>a:hover,
.eventCardBtnContainer>a:focus {
  text-decoration: underline;
}

.eventCardBtnContainer>a svg {
  transform: translateY(1px);
}

.eventLinkMobile {
  display: block;
  width: 90%;
  max-width: 200px;
  margin: 0 auto;
  padding: 12px 0;
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.eventLinkMobile:hover,
.eventLinkMobile:focus {
  opacity: 80%;
  transform: scale(.98);
}
.eventLinkLarge {
  display: none;
}

.noEventText {
  text-align: center;
  font-weight: 500;
  color: hsla(0, 0%, 48%, 1);
  padding: 1.5rem 0 2rem;
}

.updatesLayout {
  background-color: hsla(0, 0%, 8%, 1);
  color: var(--color-white);
  padding: 48px 0;
  position: relative;
  overflow: hidden;
}

.updatesCarouselBg {
  width: clamp(200px, 50%, 350px);
  position: absolute;
  pointer-events: none;
}

.updatesCarouselBg:nth-of-type(1) {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

.updatesCarouselBg:nth-of-type(2) {
  left: 0;
  bottom: 0;
}

.updatesContainer {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.updatesHeading {
  margin-bottom: 24px;
}

.updatesCarouselControlContainer {
  display: none;
}

.updatesCarouselContainer {
  display: flex;
  align-items: flex-start;
  column-gap: 24px;
  overflow-x: scroll;
}

.updateCard {
  min-width: 150px;
}

.updateCardImage {
  height: 120px;
  margin-bottom: 8px;
}

.updateCard>h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2px;
}

.updateCard>p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .9rem;
  font-weight: 300;
  margin-bottom: 8px;
}

.updateCard>a {
  color: var(--color-link-primary);
}

.armsLayout {
  padding: 48px 0;
  background-color: var(--color-white);
}

.armsContainer {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  color: var(--color-text-primary);
}

.armsContainer>h2 {
  margin-bottom: 24px;
}

.armCard {
  background-color: hsla(240, 56%, 98%, 1);
  padding: 24px 16px;
  border: 1px solid hsla(240, 51%, 18%, 0.08);
  border-radius: 4px;
  margin-bottom: 16px;
}

.armCard:last-of-type {
  margin-bottom: 0;
}

.armCardImage {
  height: 200px;
  margin-bottom: 12px;
}

.armCardImage>img {
  border-radius: 4px;
}

.armCardDetails>h3 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px;
}

.armCardDetails>p {
  font-size: .9rem;
  margin-bottom: 12px;
}

.armCardDetails>a {
  display: flex;
  width: 90%;
  max-width: 265px;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  padding: 12px 0;
  background-color: var(--color-secondary);
  color: var(--color-white);
  text-decoration: none;
}

.armCardDetails>a:hover,
.armCardDetails>a:focus {
  text-decoration: underline;
}

.rotatingHeader {
  transition: opacity 0.5s ease-in-out;
}
.fadeIn {
  opacity: 1;
}
.fadeOut {
  opacity: 0;
}

@media (min-width: 900px) {
  .headerLayout {
    background-color: var(--color-white);
    background-image: url("/images/homeHeaderPictureLarge.webp");
    background-image: radial-gradient(50% 50% at 50% 50%,
        rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 100%), url("/images/homeHeaderPictureLarge.webp");
    background-position: center;
  }
  .headerContainer {
    padding: 120px 0 200px;
    max-width: 900px;
  }
  .headerContainer > h1 {
    font-size: 4.3rem;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .headerContainer > p {
    font-size: 1.2rem;
    line-height: 1.3;
    max-width: 800px;
    margin: 0 auto 2rem;
  }
  .headerBtnContainer > a {
    font-size: 1.1rem;
  }

  .eventsLayout {
    padding: 80px 0;
  }
  .eventsContainer {
    max-width: 1200px;
  }
  .eventsContainerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .eventsContainerHeader>h2 {
    font-size: 2.5rem;
  }
  .eventLinkMobile {
    display: none;
  }
  .eventLinkLarge {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    column-gap: 8px;
    text-decoration: none;
    color: var(--color-secondary);
  }
  .eventLinkLarge:hover,
  .eventLinkLarge:focus {
    text-decoration: underline;
  }
  .eventLinkLarge > svg {
    transform: translateY(1px);
  }
  .noEventText {
    max-width: 260px;
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 2rem 0 2.5rem;
  }

  .eventCard {
    width: 95%;
    margin-right: auto;
    padding: 32px 0;
  }
  .eventCard:last-of-type {
    margin-bottom: 0;
  }
  .eventCardContainer {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
  .eventCardImage {
    width: 25%;
    height: 220px;
    margin-bottom: 0;
  }
  .eventCardDetails {
    width: 70%;
  }
  .eventCardDetails>h3 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .eventCardDetails>p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .eventCardBtnContainer {
    max-width: 400px;
  }
  .eventCardBtnContainer>a {
    font-size: 1rem;
  }

  .updatesLayout {
    padding: 80px 0;
  }
  .updatesContainer {
    max-width: 1200px;
  }
  .updatesHeading {
    margin-bottom: 40px;
  }
  .updatesHeading>h2 {
    font-size: 2.5rem;
  }
  .updatesCarouselContainer {
    overflow-x: auto;
    column-gap: normal;
    justify-content: space-between;
    align-items: stretch;
  }
  .updateCard {
    width: 23%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }
  .updateCardImage {
    height: 300px;
    margin-bottom: 16px;
  }
  .updateCard>h3 {
    font-size: 1.1rem;
    margin-bottom: 4px;
  }
  .updateCard>p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .updateCard>a {
    margin-top: auto;
  }
  .updatesCarouselBg {
    width: clamp(450px, 50%, 650px);
  }

  .armsLayout {
    padding: 80px 0;
  }
  .armsContainer {
    max-width: 1200px;
  }
  .armsContainer>h2 {
    font-size: 2.5rem;
    margin-bottom: 48px;
  }
  .armCard {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
  }
  .armCardImage {
    margin-bottom: 0;
    width: auto;
    height: 500px;
    margin-right: -50%;
    z-index: 2;
  }
  .armCardImage>img {
    border-radius: 8px;
  }
  .armCardDetails {
    max-width: 600px;
    padding: 40px 32px;
    background-color: hsla(240, 51%, 98%, 0.99);
    box-shadow: 4px 4px 40px 0 hsla(0, 0%, 0%, 0.1);
    border-radius: 8px;
    margin-left: auto;
    z-index: 3;
  }
  .armCardDetails>h3 {
    font-size: 2rem;
    margin-bottom: 8px;
  }
  .armCardDetails>p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .armCard:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
  .armCard:nth-of-type(2n) .armCardImage {
    margin-left: -50%;
    margin-right: 0;
  }
  .armCard:nth-of-type(2n) .armCardDetails {
    margin-left: 0;
    margin-right: auto;
  }
}